body {
  background-color: #fdf1f0;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 6em;
  text-align: center;
  margin: auto;
  margin-top: calc(60vh - 3em);
  width: 650px;
  cursor: pointer;
}

.gradient-text {
  /* Цвет по умолчанию */
  background-color: #ca4246;
  /* Создание градиента */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  /* Установливаем размер фона и свойства повтора */
  background-size: 700%;
  background-repeat: repeat;
  /* Используем текст как маску для фона */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* Добавление анимации */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover{
    /* Добавление анимации */
  animation: rainbow-text-simple-animation 0.75s ease forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
