
/* 
backround color - #B9F5F1
container color - #89AEE2
block color - #E2FEB0
color - #F2C1C1
*/
body{
    background-color: #B9F5F1;
}

.container{
    background-color: #89AEE2;
    padding: 8px;
    max-width: 1200px;
    min-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.image-posthion{
    position: relative;
    background-image: url(../img/mountains.jpg);
    height: 400px;
    background-position: 34% 54%;
    background-size: 100%;
    margin-left: 60px;
    margin-bottom: 15px;
    margin-right: -20px;
}

.my_foto{
    position: absolute;
    bottom: 0;
    left: -40px;
}

.my_foto img{
    width: 300px;
    border: 6px solid white;
    border-radius: 10px;
}

.my_hobby{
    float: left;
    width: 30%;
    margin-right: 5px;
}

.my_interests{
    width: 65%;
    margin-left: 5px;
}

.hobby_card{
    background-color:white;
    /* padding: 6px; */
    width: 80%;
    border-radius: 6px;
}

.card_header{
    padding: 6px;
    background: rgba(211, 200, 200, .4);;
    border-radius: 6px 6px 0 0;
}

.card_header h2{
    display: inline-block;
    margin: 0;
    width: 89%;
}

.icon_card{
    height: 25px;
}

.card_body{
    padding: 0 6px 6px;
}